{% load static %}

<!doctype html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="{% static 'main/css/index.css' %}" rel="stylesheet">
        <link href="{% static 'main/css/toast.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="{% static 'main/js/toast.min.js' %}"></script>
        <title>{{ site_name }}</title>
    </head>
    <body>
        {% if directions %}
        	{% for direction in directions %}
        		{% if parse_reports %}
                    <table>
                        <thead>
                            <tr>
                                <th>Назва</th>
                                <th>Створено</th>
                                <th>Завантажити</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for parse_report in parse_reports %}
                                {% if parse_report.direction.id == direction.id %}
                                    <tr>
                                        <td>{{ parse_report }}</td>
                                        <td>{{ parse_report.created_at }}</td>
                                        <td>
                                            <a href="{% url 'download_report' parse_report.id %}">
                                                <button><i class="fa-solid fa-download"></i></button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <i class="fa-duotone fa-solid fa-do-not-enter"></i>
                {% endif %}

                <a href="{% url 'create_report' direction.id %}">Створити файл</a>

                <form action="{% url 'parse'%}">
                    {% csrf_token %}
                    <button type="submit">Parse</button>
                </form>
        	{% endfor %}

        {% endif %}
    </body>
</html>